## -+- Fans, Lights and Misc Managment 

## -+- Chamber Lighting
[output_pin caselight]
pin: HEATER_LED
pwm:true
cycle_time: 0.01
value:0.30
## -//-

## -+- Temp Readings!!
[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: TEMP_CHM
min_temp: 0
max_temp: 100
gcode_id: C
## -//-

[temperature_sensor Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
## -//-

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
## -//-

## -+- Fan Control
## --- Hotend Fan - FAN0
[heater_fan hotend_fan]
pin: HE_FAN
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
## -//-

## --- Print Cooling Fan - FAN1
[fan]
pin: PC_FAN
kick_start_time: 0.5
off_below: 0.10
## -//-

## -+- Bay Fans 
[heater_fan Vent 1]
pin: BAY_1
max_power: 1
kick_start_time: 0.5
shutdown_speed: 0
heater: heater_bed
heater_temp: 60.0
fan_speed: 0.30
cycle_time: 0.025
## -//-

## -+- Nevermore
[fan_generic Nevermore]
pin: NMFAN
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm: False
kick_start_time: 1.0
off_below: 0.1
## ---

## -+- Beeper 
[output_pin beeper]
pin: BUZZ
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)