## -+- Octopus --- Trident 300 --- Dokuu

## ------------------------------------ CanBus Board -------------------------------------
## -+- BOARD PINS
#[board_pins EBB36_G0B1_v1.2] 
#mcu: can0
#aliases:
#aliases_step:
#    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
#aliases_limitsw: # these are preferred for endstops (including klicky)
#    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
#aliases_bltouch: # these are the dupont connectors for bltouch
#    PROBE_1=PB9,PROBE_2=PB8
#aliases_fans:
#    FAN0=PA1,FAN1=PA0
#aliases_thermistors:
#   TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
#aliases_heaters:
#    HE0=PB13
#aliases_rgb:
#    RGBLED=PD3
#aliases_adxl:
#    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
#aliases_i2c:
#    AUX0=PB3,AUX1=PB4
## -//-

## -+- Canbus
#[mcu can0]
## -- run the following command to locate the uuid > ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
#canbus_uuid: 10ddd38fd120 
## -//-

## -+- can0
#[temperature_sensor Toolhead]
#sensor_type: temperature_mcu
#sensor_mcu: can0
## -//-


## ------------------------------------ MainBoard -------------------------------------

[mcu]
## -!- Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E003500105053424E363620-if00
## -//-

[board_pins]
aliases:
## -+- Gantry drivers
## -v- B Motor
	B_MOTOR_EN=PF14,  B_MOTOR_STEP=PF13,  B_MOTOR_DIR=PF12,  B_MOTOR_UART=PC4,
## -v- A Motor
	A_MOTOR_EN=PF15,  A_MOTOR_STEP=PG0,  A_MOTOR_DIR=PG1,  A_MOTOR_UART=PD11,
## -v- Extruder
	EXTRUDER_EN=PG5,  EXTRUDER_STEP=PF11,  EXTRUDER_DIR=PG3,  EXTRUDER_UART=PC6,

## -+- Z Drivers
## -v- Z Stepper 0
	Z_ZERO_EN=PF1,  Z_ZERO_STEP=PC13,  Z_ZERO_DIR=PF0,  Z_ZERO_UART=PE4,
## -v- Z Stepper 1
	Z_ONE_EN=PD4,  Z_ONE_STEP=PE2,  Z_ONE_DIR=PE3,  Z_ONE_UART=PE1,
## -v- Z Stepper 2
	Z_TWO_EN=PE0,  Z_TWO_STEP=PE6,  Z_TWO_DIR=PA14, Z_TWO_UART=PD3,

## -+- Misc Pins
## -v- Heater 
    HEATER_BED=PA3, HEATER_HE=PA2, HEATER_LED=PB10,
## -v- Thermistors
    TEMP_BED=PF3, TEMP_HE=PF4, TEMP_CHM=PF5,
## -v- Fans
    HE_FAN=PA8, PC_FAN=PE5, BAY_1=PD12, BEDFAN=PD13, NMFAN=PD14, BUZZ=PD15,
## -v- End stops
    ENDSTOP_Z=PG10,  ENDSTOP_X=PG6,  ENDSTOP_Y=PG9, PROBE=PG13, BTTFS=PG14, RGBLED=PB0
## -//-