## -+- Z Stepper Settings --- ##

## -+- Z0 Stepper - Motor_5
## -!- Remember to mirror these changes in stepper_z1 and stepper_z2!
[stepper_z]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
## -//-

## -!- Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
## -!- 200 for 1.8 degree, 400 for 0.9 degree
rotation_distance: 4			
microsteps: 16
full_steps_per_rotation: 200

## -+- Endstop Pin 
endstop_pin: PG10
## -//-

## -+- Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
## --- (+) value = endstop above Z0, (-) value = endstop below
## --- Increasing position_endstop brings nozzle closer to the bed
## --- After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -1.2 ## Klicky.
## -//-

## --- All builds use same Max Z
position_max: 250
position_min: -10
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3
## -//-

[tmc2209 stepper_z]
uart_pin: PE4
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999
## -//-

## ------------------------------------------------------------------------------------------

## -+- Z1 Stepper - Motor_6
[stepper_z1]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 4			
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
## -//-

[tmc2209 stepper_z1]
uart_pin: PE1
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999
## -//-

## ------------------------------------------------------------------------------------------

## -+- Z2 Stepper - Motor_7
[stepper_z2]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
rotation_distance: 4			
microsteps: 16
full_steps_per_rotation: 200	
## -//-

[tmc2209 stepper_z2]
uart_pin: PD3
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 999999
## -//-