## -+- Marcos Configs

[gcode_macro CG28]
# Conditional G28 (home if not already homed)
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}


[gcode_macro CENTER_ACCURACY]
gcode:
    M400                           ; wait for buffer to clear
    G90                            ; absolute positioning
    ATTACH_PROBE
    G0  X150 Y150 F8000            
    PROBE_ACCURACY
## -//-

[gcode_macro CENTER_TOOLHEAD]
gcode:
    CG28
    ## --- Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    ## -- Center Toolhead and Bed
    G0  X{max_x / 2} Y{max_y / 2} Z{max_z / 3} F8000
## -//-


[gcode_macro Lights_Out]
gcode:
    SET_PIN PIN=caselight VALUE=0
    status_off
## -//-

[gcode_macro Showtime]
gcode:
    SET_PIN PIN=caselight VALUE=0.25
    status_ready
## -//-

[gcode_macro MEASURE_RESONNANCES_X]
gcode: 
    M117 Measuring resonnances on X Axis
    SHAPER_CALIBRATE AXIS=X
## -//-

[gcode_macro MEASURE_RESONNANCES_Y]
gcode: 
    M117 Measuring resonnances on Y Axis
    SHAPER_CALIBRATE AXIS=Y
## -//-

# Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
# Used in conjunction with Marlin's linear advance calibration tool: 
# https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={pa}
## -//-

