## -+- Parking Marcos -+- ##

## --- Park front center
[gcode_macro PARK_FRONT]
gcode:
    CG28
    SAVE_GCODE_STATE NAME=PARK_FRONT
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z/2} F10000       
    RESTORE_GCODE_STATE NAME=PARK_FRONT
## -//-
 
## --- Park front center, but low down
[gcode_macro PARK_FRONT_LOW]
gcode:
    CG28
    SAVE_GCODE_STATE NAME=PARK_FRONT_LOW
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z20 F10000                                    
    RESTORE_GCODE_STATE NAME=PARK_FRONT_LOW
## -//-

## --- Park top rear left
[gcode_macro PARK_REAR]
gcode:
    CG28
    SAVE_GCODE_STATE NAME=PARK_REAR
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y} Z{printer.toolhead.axis_maximum.z/2} F10000    
    RESTORE_GCODE_STATE NAME=PARK_REAR
## -//-

## --- Park center of build volume
[gcode_macro PARK_CENTER]
gcode:
    CG28
    SAVE_GCODE_STATE NAME=PARK_CENTER
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F10000   
    RESTORE_GCODE_STATE NAME=PARK_CENTER
## -//-

## --- Park 25mm above center of bed
[gcode_macro PARK_BED]
gcode:
    CG28
    SAVE_GCODE_STATE NAME=PARK_BED
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z25 F10000                                    
    RESTORE_GCODE_STATE NAME=PARK_BED
## -//-

[gcode_macro FORCE_BED_DOWN]
description: Force move bed down without homing
gcode:
    SET_KINEMATIC_POSITION Z=100 ; fake position
    G91 ; Relative positioning
    G0 Z10
    G90 ; Absolute positioning
    M84 ; disable steppers, this will clear current position
## -//-

[gcode_macro FORCE_BED_UP]
description: Force move bed down without homing
gcode:
    SET_KINEMATIC_POSITION Z=100 ; fake position
    G91 ; Relative positioning
    G0 Z-10
    G90 ; Absolute positioning
    M84 ; disable steppers, this will clear current position
## -//-

[gcode_macro FORCE_BED_LOCK]
description: Active Z steppers to lock down the bed, Without Homing
gcode:
    SET_KINEMATIC_POSITION Z=100 ; fake position
    G91 ; Relative positioning
    G0 Z1 
    G90 ; Absolute positioning
## -//-

[gcode_macro FORCE_BED_UNLOCK]
description: Unlocks the Bed
gcode:
    M84 ; disable steppers, this will clear current position
## -//-