## --- PRINT START MACRO -- ##
[gcode_macro PURGELINE]
gcode:
      ## --- Get Printer built volume dimensions
      {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
      {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
      {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}

      ## --- Get Nozzle diameter and filament width for conditioning
      {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.4)|float %}
      {% set FILADIA = printer.extruder.filament_diameter|default(1.75)|float %}

      ## --- Set Start coordinates of priming lines
      {% set X_START = 5.0|default(5.0)|float %}
      {% set Y_START = 20.0|default(20.0)|float %}

      ## --- Calculate Primer line extrusion volume and filament length
      {% set PRIMER_WIDTH = 0.75 * NOZZLE %}                    
      {% set PRIMER_HEIGHT = 0.70 * NOZZLE %}           
      {% set PRIMER_SECT = PRIMER_WIDTH * PRIMER_HEIGHT %}    
      {% set PRIMER_VOL = PRIMER_SECT * (X_MAX - 3 * X_START) %}    
      {% set FILA_SECT = 3.1415 * ( FILADIA / 2.0)**2 %}          
      {% set FILA_LENGTH = 1.55 * PRIMER_VOL / FILA_SECT %}

     #Precondition extruder
      G92 E0     
      G1 X{X_START} Y{Y_START} Z{PRIMER_HEIGHT} F6000.0     
      G1 X{X_START} Y{Y_MAX - 2 * Y_START} Z{PRIMER_HEIGHT} F2000.0 E{FILA_LENGTH}
      G92 E0  
      G1 X{X_START + PRIMER_WIDTH} Y{Y_MAX - 2 * Y_START} Z{PRIMER_HEIGHT} 
      G1 X{X_START + PRIMER_WIDTH} Y{Y_START} Z{PRIMER_HEIGHT} F2000.0 E{FILA_LENGTH}
      G92 E0            
      G1 Z2.0 F600        
      G1 Z0.2 F600        
      G1 Z2.0 F600  
## ---

[gcode_macro G32]
gcode:
    G28
    BED_MESH_CLEAR
    Z_TILT_ADJUST
    BED_MESH_CALIBRATE 
    BED_MESH_PROFILE LOAD=default
    CLEAN_NOZZLE
    G28 Z
    CALIBRATE_Z
## ---

[gcode_macro PRINT_START]
 ## -!- Use PRINT_START for the slicer starting script
 ## -!- Please customise for your slicer of choice

gcode:
 ## --- Get Bed, Extruder and Chamber temperature from Slicer GCode
      {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default(0)|int %}
## ---

 ## --- Ready Printer!                              
      M104 S{EXTRUDER_TEMP|float*0.80}  ; Prevent Filament Drip
      M190 S{BED_TEMP}                  ; Bring Bed up to Temp before anything starts. 
      G28                               ; Home all Axes
      G4 P900000                        ; 15 Min Heatsoak 
      CENTER_ACCURACY                   ; Test Probe Accuracy
      G32                               ; Home and Z Tilt 
      M109 S{EXTRUDER_TEMP}             ; Extruder Printing Temp.
      # CLEAN_NOZZLE                      ; Clean and Purge Nozzle
      # G0 X20 Y250 Z20 F3600
## ---
#--------------------------------------------------------------------